<html>
    <head>

    </head>

    <body>
        <h1>This Is a Form Page</h1>

        <form action='/submit' method='post'
        > 
            <input type="number" name = 'CreditScore' placeholder="CreditScore" required = 'required'>
            <input type="number" name = 'Germany' placeholder="Germany" required = 'required'>
            <input type="number" name = 'Spain' placeholder="Spain" required = 'required'>
            <input type="number" name = 'Male' placeholder="Male" required = 'required'>
            <input type="number" name = 'Age' placeholder="Age" required = 'required'>
            <input type="number" name = 'Tenure' placeholder="Tenure" required = 'required'>
            <input type="float" name = 'Balance' placeholder="Balance" required = 'required'>
            <input type="number" name = 'NumOfProducts' placeholder="NumOfProducts" required = 'required'>
            <input type="number" name = 'HasCrCard' placeholder="HasCrCard" required = 'required'>
            <input type="number" name = 'IsActiveMember' placeholder="IsActiveMember" required = 'required'>
            <input type="float" name = 'EstimatedSalary' placeholder="EstimatedSalary" required = 'required'>
            <button type='submit'>Predict</button>
            
        </form>



        </form>



    </body>






</html>